.Loading {
  text-align: center;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -5px 7px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: rgb(179, 58, 58);
  animation: spin 1srgb (165, 58, 58) e-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
