@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  /* line-height: 0; */
}

.App {
  padding: 1rem 2rem;
}

body {
  background: #4bbf6b;
}
